<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- 控制台输出 -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p [%c.%M(%L)] %m%n" />
		</layout>
	</appender>

	<!-- 文件输出 -->
	<appender name="ALL" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true" />
		<param name="File" value="${greenline.guahao.loggingRoot}/guahao-portal.log" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p [%c.%M(%L)] %m%n" />
		</layout>
	</appender>

	<!-- freemarker日志 -->
	<appender name="FREEMARKER" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true" />
		<param name="File"
			value="${greenline.guahao.loggingRoot}/guahao-portal-freemark.log" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p [%c.%M(%L)] %m%n" />
		</layout>
	</appender>

	<!-- 缓存日志 -->
	<appender name="CACHE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true" />
		<param name="File"
			value="${greenline.guahao.loggingRoot}/guahao-portal-cache.log" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p [%c.%M(%L)] %m%n" />
		</layout>
	</appender>
	
	<!-- 远程日志 -->
	<appender name="REMOTE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true" />
		<param name="File"
			value="${greenline.guahao.loggingRoot}/guahao-portal-remote.log" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p [%c.%M(%L)] %m%n" />
		</layout>
	</appender>

	<!-- sql文件输出 -->
	<appender name="SQL" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true" />
		<param name="File"
			value="${greenline.guahao.loggingRoot}/guahao-portal-sql.log" />
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p [%c.%M(%L)] %m%n" />
		</layout>
	</appender>

	<!-- 定义GuahaoLogger -->
	<logger name="com.greenline" additivity="false">
		<level value="${greenline.guahao.loggingLevel}" />
		<appender-ref ref="ALL" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<!-- 定义SQL日志 -->
	<logger name="java.sql" additivity="false">
		<level value="${greenline.guahao.loggingLevel}" />
		<appender-ref ref="SQL" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<!-- 定义cache 日志 -->
	<logger name="org.springframework.data.redis" additivity="false">
		<level value="${greenline.guahao.loggingLevel}" />
		<appender-ref ref="CACHE" />
		<appender-ref ref="CONSOLE" />
	</logger>
	<logger name="com.greenline.guahao.biz.manager.cache"
		additivity="false">
		<level value="${greenline.guahao.loggingLevel}" />
		<appender-ref ref="CACHE" />
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<!-- 定义远程 -->
	<logger name="org.springframework.remoting" additivity="false">
		<level value="${greenline.guahao.loggingLevel}" />
		<appender-ref ref="REMOTE" />
		<appender-ref ref="CONSOLE" />
	</logger>
	<logger name="com.caucho.hessian"
		additivity="false">
		<level value="${greenline.guahao.loggingLevel}" />
		<appender-ref ref="REMOTE" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<!-- 定义freemarker 日志 -->
	<logger name="freemarker" additivity="false">
		<level value="${greenline.guahao.loggingLevel}" />
		<appender-ref ref="FREEMARKER" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<!-- 定义Spring日志 -->
	<logger name="org.springframework" additivity="false">
		<level value="${greenline.guahao.loggingLevel}" />
		<appender-ref ref="ALL" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<root>
		<level value="${greenline.guahao.loggingLevel}" />
		<appender-ref ref="ALL" />
		<appender-ref ref="CONSOLE" />
	</root>
</log4j:configuration>
